.get-started-btn {
  transition: 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

/* .get-started-btn:hover { */
.get-started-btn:hover {
  background: #2b2b2b;
  color: #fff;
  border: 1px solid #ffffff2c;
  border-radius: 6px;
  box-shadow: 0 0 8px #ffffff5d;
}


.get-started-btn:hover::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 100%;
  right: -130%;
  background: #ffffff28;
  top: 0;
  transform: skew(30deg);
  animation: glaze 0.95s linear;
  animation-delay: 120ms;
}

@keyframes glaze {
  from {
    right: -30%
  }

  to {
    right: 130%
  }
}