.landing-nav-hover {
  position: relative;
  opacity: 70%;
  transition: opacity 0.22s ease-in-out;
}

.landing-nav-hover::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: 0;
  background: #ffffff;
  z-index: 1;
}

.landing-nav-hover:hover {
  opacity: 1;
}

.landing-nav-hover:hover::before {
  animation: line 0.22s linear forwards;
}

@keyframes line {
  0% {
    width: 1%;
  }

  60% {
    width: 30%;
  }

  100% {
    width: 100%;
  }
}