.landing-nav-links {
  position: relative;
  opacity: 70%;
  transition: opacity 0.22s ease-in-out;
  font-weight: 400;
}

.landing-nav-links::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  height: 3px;
  width: 100%;
  background: #ffffff;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.landing-nav-links:hover {
  opacity: 1;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.landing-nav-links:hover::before {
  transform: translateX(-50%) scaleX(1);
}