.nav-img {
  animation: heartbeat 1s linear;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  64% {
    transform: scale(1);
  }

  65% {
    transform: scale(1.15);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}